<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <portwallet>
                <debug>1</debug>
                <active>0</active>
                <hide_contact>0</hide_contact>
                <model>PortWalletFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Credit/Debit Cards PortWallet</title>
                <currency>BDT</currency>
                <sandbox_flag>1</sandbox_flag>
                <test_action>AUTHORISED</test_action>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </portwallet>
        </payment>
    </default>
</config>
